/* =========================================
   CELESTIA V3 CHARACTER PREVIEW
========================================= */

.characterPreview canvas {
  width: 180px;
  height: 190px;
  image-rendering: pixelated;
  display: block;
}

.characterPreview {
  overflow: hidden;
  display: grid;
  place-items: center;
}
